<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".Community_Write.Post_Edit_View"
            android:exported="false" />
        <activity
            android:name=".ConfigurationPage.NicknameChangeActivity"
            android:exported="false" />
        <activity
            android:name=".ConfigurationPage.PasswordChangeActivity"
            android:exported="false" />
        <activity
            android:name=".ConfigurationPage.UnregisterActivity"
            android:exported="false" />
        <activity
            android:name=".Community_Write.Post_Detail_View"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".User_SignPage.user_LogIn"
            android:exported="false" />
        <activity
            android:name=".Alarm.Alarm"
            android:exported="false" />
        <activity
            android:name=".Alarm.Board_Alarm"
            android:exported="false" />
        <activity
            android:name=".Alarm.AlarmFragment"
            android:exported="false" />
        <activity
            android:name=".Alarm.Notice_Alarm"
            android:exported="false" />
        <activity
            android:name=".User_SignPage.user_BuildingAuth"
            android:exported="false" />
        <activity
            android:name=".User_SignPage.user_SignUp"
            android:exported="false" />
        <activity
            android:name=".Community_Write.Post_Club"
            android:exported="false" />
        <activity
            android:name=".Community_Write.Post_Share"
            android:exported="false" />
        <activity
            android:name=".Community_Write.Post_Complain"
            android:exported="false" />
        <activity
            android:name=".Community_Write.Post_Purchase"
            android:exported="false" />
        <activity
            android:name=".Community_Write.Post_Group"
            android:exported="false" />
        <activity
            android:name=".Community.Community_Purchase"
            android:exported="false" />
        <activity
            android:name=".Community.Community_Club"
            android:exported="false" />
        <activity
            android:name=".Community.Community_Complain"
            android:exported="false" />
        <activity
            android:name=".Community.Community_Share"
            android:exported="false" />
        <activity
            android:name=".Community.Community_Group"
            android:exported="false" />
        <activity
            android:name=".Community.Community"
            android:exported="false" />
        <activity
            android:name=".Notice.NoticeList"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".User_SignPage.StartPage"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Management.Car_Registration"
            android:exported="false"/>
        <activity
            android:name=".SettingActivity"
            android:exported="false"
            android:label="@string/title_activity_setting"
            android:theme="@style/Theme.Villive" />
        <activity
            android:name=".Calendar.CalendarActivity"
            android:exported="false"
            android:label="CalendarActivity"
            android:theme="@style/Theme.Villive" />
        <activity
            android:name=".HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Villive" />
    </application>

</manifest>